.btn {
    padding: 10px 10px;
    color:white;
    max-width: 250px;
    background-color: #5353e4;
    border-radius: 4px;
    border: none;
    margin: 5px 5px;
    cursor:pointer;
}

.btn:hover {
    background-color:  rgb(0, 216, 18);
    transition: all 0.05s ease-in;
}

.danger {
    background-color: red;
}

.alert {
    background-color: #5353e4 ;
}