
.navbarCss {
background-color: #5353e4;
  height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: white;
  margin-bottom: 40px;
}

.ulEnlaces {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 50px;
}

.ulEnlaces a{
  display: inline-block;
  padding: 10px;
  font-size: 20px;
  text-decoration: none;
  color: white;
  margin: 10px;
  transition: all 0.20s ease-in;
}

.ulEnlaces a:hover {
  color: rgb(0, 255, 21);

}

.imgLogo {
  width: 60px;
  margin-left: 50px;
  cursor: pointer;
}

.logoCarrito {
  width: 40px;
}